.App {
  min-height: calc(100vh + 30px);
}

a, a:visited {
  text-decoration: none;
  color: white;
  border: 1px solid white;;
  padding: 10px 30px;
  border-radius: 8px;
}

a:hover {
  background-color: #0c3c6e;
}
